<h1>User Demographics</h1>
<% if @testedfriends != [] %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= pie_chart @ethnicity_chart %>
  <%= pie_chart @gender_chart %>
  <%= pie_chart @orientation_chart %>
  <%= pie_chart @education_chart %>
  <%= pie_chart @age_chart %>
  <%= pie_chart @income_chart %>
<% else %>
  <h3>It doesn't look like anyone you're following has taken our quiz yet!</h3>
<% end %>
