<%= javascript_include_tag 'twitterwdj' %>

<h1>User Demographics</h1>
<% if @testedfriends != [] %>
  Friends who have answered: <%= @testedfriends.count %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= pie_chart @ethnicity_chart %>
  <%= pie_chart @gender_chart %>
  <%= pie_chart @orientation_chart %>
  <%= pie_chart @education_chart %>
  <%= pie_chart @age_chart %>
  <%= pie_chart @income_chart %>
<% else %>
  <h3>
    <% if session[:screen_name] == session[:twitter_handle] %>
      It doesn't look like anyone you're following has taken our quiz yet.
      <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hey+friends!+Take+this+Twitter+Diversity+Quiz+and+help+me+find+out+how+diverse+my+social+network+is!" data-size="large">Tweet</a> your friends to help promote diversity on Twitter!
    <% else %>
      It doesn't look like anyone @<%= session[:twitter_handle] %> is following has taken our quiz yet!
      <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hey+<%= "@#{session[:twitter_handle]}" %>,+take+this+Twitter+Diversity+Quiz+and+find+out+how+diverse+our+social+network+is!" data-size="large">Tweet</a> them to help promote diversity on Twitter!
    <% end %>
  </h3>
<% end %>
