<div class="form">
  <h2>Add or update your information: <span class="bluetext"><%= session[:screen_name] -%></span></h2>
  <br><br>
  <%= form_for @user do |f| -%>
  <% binding.pry %>
    <%= f.fields_for :user_answers do |u| %>
      <%= u.label :value, user_answer_field_label(u.object.field_value) %><br>
      <%= u.hidden_field :answer_type %>
  
      <% if u.object.answer_type == "Education" %>
        <%= u.text_field :value, style: "width: 70%", autofocus: true %><br>
        <label><em>Or choose an option from below: </em></label><br>
        <input type="radio" name="education1" value="elementary"> Elementary<br>
        <input type="radio" name="education1" value="secondary"> Secondary<br>
        <input type="radio" name="education1" value="post-secondary"> Post-Secondary<br>
        <input type="radio" name="education1" value="graduate"> Graduate<br>
        <input type="radio" name="education1" value="post-graduate"> Post-Graduate<br><br>

      <% else %>
       <%= u.number_field :value %><br>
      
      <% end %>
    <% end %>
    
    <%= f.submit "UPDATE USER", class: "button" %>
  <% end %>
  
  <div>
	  
	  <% if session[:result] != nil %>
      <hr></hr>
	  	<h2>Looks good?</h2>
      <br>
	  	<img class="arrowmedium" src="/assets/arrow1.png"><%= link_to("See your original search result", "/results/#{session[:result].id}", style: "font-size:24px") %>
	  <% end %>
	  
  </div>
</div>  