<div class="form">
  <h2>Add or update your information: <%= session[:screen_name] -%></h2>
  <%= form_for @user do |f| -%>
  <% binding.pry %>
    <%= f.fields_for :user_answers do |u| %>
      <%= u.label :value, user_answer_field_label(u.object.field_value) %><br><br>
      <%= u.hidden_field :answer_type %>
  
      <% if u.object.answer_type == "Education" %>
        <%= u.text_field :value, style: "width: 70%", autofocus: true %><br><br>
        <p><em>Or choose an option from below: </em></p>
        <input type="radio" name="education1" value="elementary">Elementary<br>
        <input type="radio" name="education1" value="secondary">Secondary<br>
        <input type="radio" name="education1" value="post-secondary">Post-Secondary<br>
        <input type="radio" name="education1" value="graduate">Graduate<br>
        <input type="radio" name="education1" value="post-graduate">Post-Graduate<br><br><br>

      <% else %>
       <%= u.number_field :value %><br><br>
      
      <% end %>
    <% end %>
    
    <%= f.submit %>
  <% end %>
  
  <div>
	  
	  <% if session[:result] != nil %>
	  	<p>OR</p>
	  	<%= link_to("Looks good! Take me to my search result", "/results/#{session[:result].id}") %>
	  <% end %>
	  
  </div>
</div>  