<div class="form">
  <h2>Add or update your information: <%= session[:screen_name] -%></h2>
  <ul>
    <li><strong>Education level:</strong> <%= @user.educations[0] ? @user.educations[0].value : "Unanswered"  %></li>
    <li><strong>Income level:</strong> <%= @user.incomes[0] ? @user.incomes[0].value : "Unanswered" %></li>    
    <li><strong>Birth year:</strong> <%= @user.ages[0] ? @user.ages[0].value : "Unanswered" %></li>
  </ul> 
  
  <h2>Delete information:</h2>
  <%= button_to 'Delete',url_for(action: :delete,id: @user.id),method: :delete, data: {confirm: "Are you sure you want to remove your information? (Specifically-identifying information is encrypted.)"} %>
</div>

<% if session[:result] != nil %>
	<%= link_to( "Looks good! Take me to my search result", 	"/results/#{session[:result].id}") %>
<% end %>
	