<div class="form">
  <h2>Your current information: <span class="bluetext"><%= session[:screen_name] -%></span></h2> 
<!--make oswald all caps, make twitter username georgia -->
  <ul>
    <li><strong>Education level:</strong> <%= @user.educations[0] ? @user.educations[0].value : "Unanswered"  %></li>
    <li><strong>Income level:</strong> <%= @user.incomes[0] ? @user.incomes[0].value : "Unanswered" %></li>    
    <li><strong>Birth year:</strong> <%= @user.ages[0] ? @user.ages[0].value : "Unanswered" %></li>
    <li><strong>Gender/s:</strong> <% b = [] %> 
                                   <% @user.genders.each do |object| b.push object.value end %>
                                   <%= b.join(", ") %></li>
    <li><strong>Ethnicity/ies:</strong> <% b = [] %> 
                                   <% @user.ethnicities.each do |object| b.push object.value end %>
                                   <%= b.join(", ") %></li>
    <li><strong>Orientation/s:</strong> <% b = [] %> 
                                   <% @user.orientations.each do |object| b.push object.value end %>
                                   <%= b.join(", ") %></li>
    
  </ul> 
  

  <h2><a href="<%= "#{@user.id}" %>/edit"><img class="arrow" src="/assets/arrow1.png">Edit/update your information</a></h2>
  
  <h2><img class="arrow" src="/assets/arrow1.png"><%= link_to 'Delete your information', url_for(action: :delete,id: @user.id),method: :delete, data: {confirm: "Are you sure you want to remove your information? (Specifically-identifying information is encrypted.)"} %></h2>

</div>

