<%= form_for @user do |f| %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </p>

  <p>
    <%= f.label :income %><br>
    <%= f.number_field :income %>
  </p>

  <p>
    <%= f.label :education %><br>
    <%= f.label :education, value: "No Answer" %>
    <%= f.radio_button :education, "" %><br>
    <%= f.label :education, value: "Elementary" %>
    <%= f.radio_button :education, "Elementary" %><br>
    <%= f.label :education, value: "Secondary" %>
    <%= f.radio_button :education, "Secondary" %><br>
    <%= f.label :education, value: "Post-secondary" %>
    <%= f.radio_button :education, "Post-secondary" %><br>
    <%= f.label :education, value: "Graduate" %>
    <%= f.radio_button :education, "Graduate" %><br>
    <%= f.label :education, value: "Post-graduate" %>
    <%= f.radio_button :education, "Post-graduate" %><br>
  </p>

  <p>
    <label>Ethnicity</label>
    <br>
    <%= f.text_area :ethnicities_textarea %>
  </p>

  <p>
    <label>Gender</label>
    <br>
    <%= f.text_area :genders_textarea %>
  </p>

  <p>
    <label>Sexual Orientation</label>
    <br>
    <%= f.text_area :orientations_textarea %>
  </p>

  <%= f.submit %>


<% end %>
