<%= form_for @user do |f| %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="twelve columns center">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="twelve columns center">
    <%= f.label :income %>
    <%= f.number_field :income %>
  </div>

  <div class="twelve columns center">
    <%= f.label :education %>
    <%= f.text_field :education %>
  </div>

  <div class="twelve columns center">
    <%= f.label :ethnicity %>
    <%= f.text_field :ethnicity %>
  </div>

  <div class="twelve columns center">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="twelve columns center">
    <%= f.label :orientation %>
    <%= f.text_field :orientation %>
  </div>

  <div class="twelve columns center">
    <%= f.submit %>
  </div>

<% end %>
