<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="twelve columns center">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="twelve columns center">
    <%= f.label :income %>
    <%= f.number_field :income %>
  </div>

  <div class="twelve columns center">
    <%= f.label :education %>
    <%= f.text_field :education %>
  </div>

<!--   <%= f.label :education %><br>
  <%= f.label :education, value: "No Answer" %>
  <%= f.radio_button :education, "" %><br>
  <%= f.label :education, value: "Elementary" %>
  <%= f.radio_button :education, "Elementary" %><br>
  <%= f.label :education, value: "Secondary" %>
  <%= f.radio_button :education, "Secondary" %><br>
  <%= f.label :education, value: "Post-secondary" %>
  <%= f.radio_button :education, "Post-secondary" %><br>
  <%= f.label :education, value: "Graduate" %>
  <%= f.radio_button :education, "Graduate" %><br>
  <%= f.label :education, value: "Post-graduate" %>
  <%= f.radio_button :education, "Post-graduate" %><br> -->

  <div class="twelve columns center">
    <%= f.label :ethnicities_textarea, "Ethnicity" %>
    <%= f.text_area :ethnicities_textarea %>
  </div>

  <div class="twelve columns center">
    <%= f.label :genders_textarea, "Gender" %>
    <%= f.text_area :genders_textarea %>
  </div>

  <div class="twelve columns center">
    <%= f.label :orientations_textarea, "Sexual Orientation" %>
    <%= f.text_area :orientations_textarea %>
  </div>

  <%= f.submit %>

  <div class="twelve columns center">
    <%= f.submit %>
  </div>

<% end %>
