<div class="info-table">
	<table class="u-full-width">
	    <tr>
	      <td>Age</td>
	      <% if @user.age == nil %>
	      	<td>--</td>
	      <% else %>
	      	<td><%= @user.age %></td>
	      <% end %>
	      <!-- <td>edit</td> -->
	    </tr>
	    <tr>
	      <td>Income</td>
	      <% if @user.income == nil %>
	      	<td>--</td>
	      <% else %>
	      	<td><%= @user.income %></td>
	      <% end %>
	    </tr>
	    <tr>
	      <td>Education</td>
	      <% if @user.education == nil %>
	      	<td>--</td>
	      <% else %>
	      	<td><%= @user.education %></td>
	      <% end %>
	    </tr>
	    <tr>
	      <td>Ethnicity</td>
	      <% if @user.ethnicities.map { |x| x.value }.join(", ").empty? %>
	      	<td>--</td>
	      <% else %>
	      	<td><%= @user.ethnicities.map { |x| x.value }.join(", ") %></td>
	      <% end %>
	    </tr>
	    <tr>
	      <td>Gender</td>
	      <% if @user.genders.map { |x| x.value }.join(", ").empty? %>
	      	<td>--</td>
	      <% else %>
	      	<td><%= @user.genders.map { |x| x.value }.join(", ") %></td>
	      <% end %>
	    </tr>
	    <tr>
	      <td>Sexual Orientation</td>
	      <% if @user.orientations.map { |x| x.value }.join(", ").empty? %>
	      	<td>--</td>
	      <% else %>
	      	<td><%= @user.orientations.map { |x| x.value }.join(", ") %></td>
	      <% end %>
	    </tr>
	</table>

	<div class="button-container">
	<%= button_to "Edit your information", "/users/:screen_name/edit", method: :get, :class => "button-primary" %>

	<%= button_to 'Remove Your Data', user_path(@user),
	              method: :delete,
	              data: { confirm: 'Are you sure?' },
	              :class => "button-red" %>
	</div>
</div>

<div class="bottom">
	<img class="bottom-img" src="/assets/handprints.png" alt=""/>

</div>