<h1>Current information for <%= session[:screen_name] %></h1>




<table class="u-full-width">
    <tr>
      <td>Age</td>
      <td><%= @user.age %></td>
    </tr>
    <tr>
      <td>Income</td>
      <td><%= @user.income %></td>
    </tr>
    <tr>
      <td>Education</td>
      <td><%= @user.education %></td>
    </tr>
    <tr>
      <td>Ethnicity</td>
      <td> <%= @user.ethnicities.map { |x| x.value }.join(", ") %></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><%= @user.genders.map { |x| x.value }.join(", ")  %></td>
    </tr>
    <tr>
      <td>Sexual Orientation</td>
      <td><%= @user.orientations.map { |x| x.value }.join(", ")  %></td>
    </tr>
</table>
<%= button_to "Edit your information", "/users/:screen_name/edit", method: :get, :class => "button-primary" %>

<%= button_to 'Remove Your Data', user_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              :class => "button-red" %>

