<h1>Current information for <%= session[:screen_name] %></h1>
<ul>
<li>Education level: <%= @user.education %></li>
<li>Income level <%= @user.income %></li>
<li>Age <%= @user.age %></li>
<li>Ethnicity: <%= @user.ethnicities.map { |x| x.value }.join(", ") %></li>
<li>Gender: <%= @user.genders.map { |x| x.value }.join(", ")  %></li>
<li>Sexual Orientation: <%= @user.orientations.map { |x| x.value }.join(", ")  %></li>
</ul>
<%= button_to "Edit your information", "/users/:screen_name/edit", method: :get, :class => "button-primary" %>

<%= button_to 'Remove Your Data', user_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              :class => "button-red" %>

