<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=275052925858908";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= javascript_include_tag "//www.google.com/jsapi" %> 
<%= javascript_include_tag "application", "chartkick" %>

<% pie_lib_vals = {fontName: "Georgia", colors:["#00ccff","#00A3CC","#80E6FF","#005266","#A8A8A8","#3C3C3C"]} %>

<% col_lib_vals = {fontName: "Georgia", colors:["#00CCFF"]} %>

<div class="results">
  <h2>DEMOGRAPHICS FOR: <span class="bluetext" style="font-family:georgia"><%= @result.searched_handle -%></span></h2> 
  <ul>
    <li><strong>DATE RETRIEVED:</strong><span style="font-family:georgia"> <%= @result.created_at.to_s.to_time.strftime('%b %d, %Y') -%></span></li>
    <li><strong>NUMBER OF FOLLOWERS INCLUDED:</strong> <span style="font-family:georgia">COMING SOON</span></li>
    <li><strong>PERCENTAGE OF FOLLOWERS INCLUDED:</strong><span style="font-family:georgia"> COMING SOON</span></li>
  </ul>

  <div class="fb-share-button" data-href="http://twitter-diversity-project.herokuapp.com/results/<%= @result.id %>" data-layout="button">
  </div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="twitterdiversityproject">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>
  <hr></hr>

<% if @result.edu_chart != {} %>
	<%= pie_chart @result.edu_chart, {library: {title:
		"Education"}.merge(pie_lib_vals)} %>
<% end %>

<% if @result.income_chart != {} %>
	<%= column_chart @result.income_chart, {library: {title:
		"Income"}.merge(col_lib_vals)} %>
<% end %>

<% if @result.age_chart != {} %>
	<%= column_chart @result.age_chart, {library: {title:
		"Age"}.merge(col_lib_vals)} %>
<% end %>

<% if @result.ethnicity_chart != {} %>
	<%= pie_chart @result.ethnicity_chart, {library: {title:
		"Ethnicity"}.merge(pie_lib_vals)} %>
<% end %>

<% if @result.gender_chart != {} %>
	<%= pie_chart @result.gender_chart, {library: {title:
		"Gender"}.merge(pie_lib_vals)} %>
<% end %>

<% if @result.orientation_chart != {} %>
	<%= pie_chart @result.orientation_chart, {library: {title:
		"Orientation"}.merge(pie_lib_vals)} %>
<% end %>