<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=275052925858908";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= javascript_include_tag "//www.google.com/jsapi" %> 
<%= javascript_include_tag "chartkick" %>

<% pie_lib_vals = {fontName: "'Oswald', sans-serif", colors:["#00ccff","#00A3CC","#80E6FF","#005266","#A8A8A8","#3C3C3C"]} %>

<% col_lib_vals = {fontName: "'Oswald', sans-serif", colors:["#00CCFF"]} %>

<% total_friends = @result.demo_hash["total_friend_count"] %>

<% friends_who_answered = @result.demo_hash["friends_who_answered"] %>

<div class="results">
  <h2>DEMOGRAPHICS FOR: <span class="bluetext" style="font-family:georgia"><%= @result.searched_handle -%></span></h2> 
  <ul>
    <li><strong>DATE RETRIEVED:</strong><span style="font-family:georgia"> <%= @result.created_at.strftime('%b %d, %Y') -%></span></li>
    <li><strong>NUMBER OF FOLLOWERS INCLUDED:</strong> <span style="font-family:georgia"><%= friends_who_answered %> of <%= total_friends %>
      <% if friends_who_answered/total_friends.to_f*100 < 1 %>
        , or < 1%
      <% else %>
        , or <%= (friends_who_answered/total_friends.to_f*100).round %>%
      <% end %>
      </span></li>
  </ul>

  <div class="fb-share-button" data-href="http://twitter-diversity-project.herokuapp.com/results/<%= @result.id %>" data-layout="button">
  </div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="twitterdiversityproject">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br>
<br>
  <div class="methodology">
    <p><a href="#" id="methodology"><em><img class="arrowsmall" src="/assets/arrow1.png">How do you calculate results?</em></a></p>
    <div id="methodologyinfobox" style="display: none">
      <p><strong><span style="font-family:oswald, sans-serif">SELF-IDENTIFYING</span></strong><br>
        Results depend on users volunteering their demographic information. Answers are optional, and all questions contain free-form fields that allow users to self-define their information. The more users who fill out information with our site, the more accurate the search results.
      </p>
      <p><strong><span style="font-family:oswald, sans-serif">SECURITY</span></strong><br>
        We keep any identifying information hidden in results; we're working to encrypt information for added security. We also ensure users cannot access or edit other users' information. 
      </p>
      <p><strong><span style="font-family:oswald, sans-serif">MATH!</span></strong><br>
        When a user searches for a specific Twitter account, we make a request through Twitter that returns the Twitter IDs of the most-recent 5,000 people that account is following. Then, we check those IDs against our database. For each matching user, we pool their unique answers for each demographic question.<br><br>Some charts may not contain answers for all users (as each question is optional). Other categories allow for multiple answers, and their cooresponding charts might show more answers than there are total respondents. We are working to clarify for users how many people responded to each demographic question.<br><br>For a more in-depth dive into our methodology, <a href="https://github.com/omahacodeschool/twitter-diversity-report"><em>check out our GitHub repository.</em></a>
      </p>
    </div>
  </div>
</div>

<hr></hr>
<div class="chart">
<% if @result.demo_hash["Education"] #!= {} %>
	<%= pie_chart @result.edu_chart, {library: {title:
		"EDUCATION"}.merge(pie_lib_vals)} %>
<% end %>
</div>
<hr></hr>
<div class="chart">
<% if @result.demo_hash["Income"] #.income_chart != {} %>
	<%= column_chart @result.income_chart, {library: {title:
		"INCOME"}.merge(col_lib_vals)} %>
<% end %>
</div>
<hr></hr>
<div class="chart">
<% if @result.demo_hash["Age"] #age_chart != {} %>
	<%= column_chart @result.age_chart, {library: {title:
		"AGE"}.merge(col_lib_vals)} %>
<% end %>
</div>
<hr></hr>
<div class="chart">
<% if @result.demo_hash["Ethnicity"] #ethnicity_chart #!= {} %>
	<%= pie_chart @result.ethnicity_chart, {library: {title:
		"ETHNICITY"}.merge(pie_lib_vals)} %>
<% end %>
</div>
<hr></hr>
<div class="chart">
<% if @result.demo_hash["Gender"] #gender_chart #!= {} %>
	<%= pie_chart @result.gender_chart, {library: {title:
		"GENDER"}.merge(pie_lib_vals)} %>
<% end %>
</div>
<hr></hr>
<div class="chart">
<% if @result.demo_hash["Orientation"] #orientation_chart #!= {} %>
	<%= pie_chart @result.orientation_chart, {library: {title:
		"ORIENTATION"}.merge(pie_lib_vals)} %>
<% end %>
</div>
