<!DOCTYPE html>
<html>
<head>
  <title>Twitter Diversity Report</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
      <div class="twelve columns header">
        <div class="three columns logo">
          <%= link_to image_tag("blue_twitter_bird.png", class: "twitterDiversityLogo", alt: "Twitter Diversity Logo"),  :root %>
        </div>

        <div class="four columns header-right offset-by-five">
          <!-- <div class="header-link">Give Us Feedback</div> -->
          <div class="header-link left-border">
            <% if session[:screen_name] != nil %>
              <%= link_to "View Your Info", '/users/self/result', :class => "links" %>
            <% else %>
              <%= link_to "Add Your Info", '/auth/twitter', :class => "links"%>
            <% end %></div>
          <div class="header-link left-border"><%= link_to("Logout", '/logout', :class => "links") %></div>
        </div>

      </div>

<%= yield %>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
