<!DOCTYPE html>
<html>
<head>
  <title>Twitter Diversity Report</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="container">
      <div class="twelve columns header">
        <div class="three columns logo">
          <a href="/"><img class="twitterDiversityLogo" src="/assets/blue_twitter_bird.png" alt="Twitter Diversity Logo"><%= link_to("Twitter Diversity", '/') %></a>
        </div>

        <div class="four columns header-right offset-by-five">
          <!-- <div class="header-link">Give Us Feedback</div> -->
          <div class="header-link">
            <% if session[:screen_name] != nil %>
              <%= link_to "View Your Info", '/users/self/result' %>
              <div class="header-link"><%= link_to("Logout", '/logout') %></div>
            <% else %>
              <%= link_to "Add Your Info", '/auth/twitter' %>
              <div class="header-link"><%= link_to("Login", '/auth/twitter') %></div>
            <% end %>
          </div>
        </div>

      </div>

<%= yield %>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
